/* Center the whole grid in the screen */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}

/* 3 x 3 Grid */
.grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.box {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background: white;
    cursor: pointer;
}
