* {
    margin: 0;
    padding: 0;

}

body {
    background: #548687;
    text-align: center;
}

.container{
    height: 70dvh;
    width:  60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 35%;
    
}
    

.game{
    height: 60vmin;
    width:  60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow:crimson;
    font-size: 9vmin;
    color:black;
    cursor: wait;

}

#rebut {
    padding:1rem;
    font-size: 1.25rem;
    background-color: red;
    color: black;
    position: absolute;
    top: 600px;
    left: 700px;
    
}
#msg {
    color: chartreuse;
    font-size: 8vmin;
}

.msg_container {
    height: none;
}

.hide{
    display: none;
}